<div class="row">
  <div class="large-12">
    <h1>Featured Drinks</h1>

    <%- if !@drinks.empty? -%>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>

        <%- @drinks.each do |drink| -%>
          <tr>
            <td><%= drink.title %></td>
            <td><%= drink.description %></td>
          </tr>
        <%- end -%>
      </table>

    <%- end -%>

    <a href="/drinks">back to all drinks</a><br>
    <a href="/categories">link to categories</a><br>
  </div>
</div>
